<!--
Used In File(s): F_40kshit\structure\patrol_checkpointmastr.dm
-->
<h1>Checkpoint Monitor</h1>
{{for data.checkpoints}}
	<div class='item'> 
		<div class='statusDisplay'>
			<div class="line">
				<div class="statusLabel">Location:</div>
				<div class="statusValue"><span class="good">{{:value.name}}</span></div>
			</div>
			<div class="line">
				<div class="statusLabel">Time:</div>
				<div class="statusValue">
					{{if value.time == 150}}
						<b><span class="bad">POINT UNCHECKED</span></b><br>
						<div class='statusLabel'>{{:helper.displayBar(value.time, 0, 150, 'bad')}}</div>
					{{else}}
						<b><span class="good">{{:value.time}}</span></b><br>
						<div class='statusLabel'>{{:helper.displayBar(value.time, 0, 150, 'good')}}</div>
					{{/if}}
				</div><br>
			</div>
		</div>
	</div>
{{/for}}


