<!--
Used In File(s): z40k_shit\systems\detroid_economy\requisition_console.dm
-->
<h1>THERE ARE NO REFUNDS</h1>

<!-- This shit should appear in the top right -->
<div style="float: right; width: 50%; margin-top: 3px;">
	<div class="line">
		{{:helper.link('Signal Delivery', 'key', {'shuttle_time' : 1})}}
	</div>
	<div class="line">
		{{if data.shuttle_status}}
			{{if data.going_places}}
				<span class="average">Dropoff  : {{:data.transit_time}}</span>
			{{else}}
				<span class="average">Returning: {{:data.transit_time}}</span>
			{{/if}}
		{{else}}
			<span class="average">Vessel Currently Docked</span>
		{{/if}}
	</div>
</div>

<!-- The below occurs in the bottom left -->
<div class="item" style="float: left; width:100%; margin-bottom: 0px;">
	<div class="itemLabel">
		Identification :
	</div>
	<div class="itemContent">
		{{:data.name_of_credholder}}
	</div>
</div>

<!-- The below occurs in the bottom left -->
<div class="item" style="width:100%; margin-bottom: 3px;">
	<div class="itemLabel">
		Requisition :
	</div>
	<div class="itemContent">
		{{:data.requisition}}
	</div>
</div>

<!-- The below occurs in the bottom left -->
<div class="item" style="width:100%; margin-bottom: 3px;">
{{:helper.link('Eject Credstick', 'key', {'eject_credstick' : '1'})}}
</div>
<br>

<!-- The below was float right and width 67 percent 
But this is basically the main window, we just dump a list of random shit in and they click it.
-->



<div style="float: none; width: 100%;">
	<div class="line>
		<div class="itemLabel">
			Currently Available Objects
		</div>
	</div>
	<div class="itemContentWide" style="width: 95%;">
		<div class="statusDisplay">
			<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 184px">
				{{for data.buyables}}
					<div class="line">
						<div class="statusValue">
							{{:helper.link(value.name, null, {'purchase' : '1', 'selection' : value.name, 'sel_price' : value.price}, null, 'fixedLeftWidest noOverflow')}}
							{{:value.price}} REQ
						</div>
					</div>
				{{/for}}
			</div>
		</div>
	</div>
</div>  

<!-- The below occurs in the very bottom -->
<div class='item'>
	<div class='statusDisplay'>
		<div class="line">
			{{if data.shuttle_max_capacity}}
				<div class="statusValue"><span class="bad">Delivery Max Capacity</span>
			{{else}}
				<div class="statusValue"><span class="good">Delivery Not Max Capacity</span>
			{{/if}}
				</div>
		</div>
		<br>
		<u><b>Incoming Manifest</b></u>
		{{for data.shipping}}
			<div class="line">
				{{:value.manifest}}
			</div>
		{{/for}}
	</div>
</div>

